<app-header></app-header>
<app-top-menu></app-top-menu>
  <!-- Banner starts --> 
  <div class="innerbanner" style="background-color:#000">
    <img src="../assets/images/cours-particuliers-de-tennis.jpg" style="width:100%;opacity:0.8" alt="Los Angeles">
    <div class="inner_carousel">
        <h3>PROFESSEUR PARTICULIER DE TENNIS</h3>
    </div>
</div>
<!-- Banner ends --> 

<!-- Inner Search area starts -->
<div class="inner_searcharea">
    <div class="banner_container">
        <h3>Réservez un cours avec un coach</h3>
        <div class="row">
            <div class="col-xs-12 col-sm-4 col-lg-4">
                <div class="form-group">
                    <div class="addon-lg">
                        <input class="form-control" id="" maxlength="6" placeholder="Code Postal" [(ngModel)]="Ville"
                            type="text" />
                        <label><img src="./assets/images/ville_icon.png" /></label>
                    </div>
                </div>
            </div>
            <div class="col-xs-12 col-sm-4 col-lg-4">
                <div class="form-group">
                    <div class="addon-lg">
                        <input type="text" style="text-align:left!important;" [min]="min" class="form-control" id=""
                            placeholder="Date" [(ngModel)]="Date" [owlDateTime]="dt1" [owlDateTimeTrigger]="dt1" />
                        <owl-date-time #dt1 [pickerType]="'calendar'"></owl-date-time>
                        <label><img src="./assets/images/date_icon.png" /> </label>
                    </div>
                </div>
            </div>
            <div class="col-xs-12 col-sm-4 col-lg-4 text-left">
                <button (click)="handleClick($event)" class="btn black_btn">
                    Rechercher
                </button>
            </div>
        </div>
    </div>
</div>
<!-- Inner Search area ends --> 



<!-- section1 starts -->
<div class="sec_news section1 des_concept_list haspadd">
    <div class="container">
        
        <div class="row">
            <div class="col-md-12 col-sm-12 col-xs-12">
                <div class="page_title_div">            
                    <h1 class="page_title">PROFESSEUR PARTICULIER DE TENNIS</h1>				
                    <img src="../assets/images/title_border.png" alt="title_border" />
                </div>
            </div>
            <div class="clearfix"></div>
        </div>	
        
        <div class="row middle_contents">
            <div class="col-md-12 col-sm-12 col-xs-12">        
                <div class="mid_contentdiv">
                    <h3>Je souhaite réserver un professeur particulier de tennis , comment ca marche ? qui dois je payer ?</h3>	
                    <p>Sur la fiche du professeur le planning vous permet d’avoir un aperçu des disponibilités de chaque professeur partculier de tennis durant la semaine. Cliquez sur un créneau horaire pour faire une demande de réservation, celle ci sera ensuite validée par le moniteur de tennis une fois la réservation du terrain effectuée. Des emails de confirmation sont envoyés de part et d’autres à chaque étape. Lorsque vous prenez un cours avec le professeur vous le payer directement à la fin de la séance.</p>
                    <p><strong><a class="content_link" href="">Découvrez notre offre concernant les professeur particulier de tennis</a></strong></p>

                </div>
            </div>        
            <div class="clearfix"></div>
        </div>	
        
        <div class="row middle_contents">
            <div class="col-md-12 col-sm-12 col-xs-12">        
                <div class="mid_contentdiv">
                    <h3>Comment se pré-inscrire en cours collectif dans un club de tennis ? qui dois je payer ?</h3>	
                    <p>Vous êtes intéressés par un cours collectif  dans un club de tennis. Une pré inscription vous sera demandée et vous verserez un acompte de la prestation pour réserver de façon ferme. Le solde du paiement de la prestation s’effectuera sur place.dans le club de tennis</p>
                </div>
            </div>        
            <div class="clearfix"></div>
        </div>	
        
       
        <div class="row middle_contents">
            <div class="col-md-12 col-sm-12 col-xs-12">        
                <div class="mid_contentdiv">
                    <h3>J’ai besoin de faire un devis pour du team building tennis , une animation ou un anniversaire tennis ? qui dois je payer ?</h3>	
                    <p>Pour obtenir une réponse il est nécessaire de préciser le nombre de personnes , le temps imparti à l’événement , le lieu , la date. En effet ce sont autant de paramètres qui peuvent avoir un influence sur le prix de la prestation proposée par les professionnels du tennis.
                        Une pré inscription sera ensuite effectuée et vous verserez un acompte de la prestation pour réserver de façon ferme. Le solde du paiement de la prestation s’effectuera sur place.</p>
                        <p><strong><a class="content_link" href=""> Découvrez notre offre concernant le team building tennis</a></strong></p>
                    
               </div>
            </div>        
            <div class="clearfix"></div>
        </div>	
        
        <div class="row middle_contents">
            <div class="col-md-12 col-sm-12 col-xs-12">        
                <div class="mid_contentdiv">
                    <h3>Comment marche le système de cours de tennis en ligne via votre site web ?</h3>	
                    <p>Vous avez la possibilité d’accéder à différentes prestations d’e-learning : chaque point abordé possède deux vidéos et deux fiches (description et exercice). Vous avez la possibilité d’acheter un thème entier (exemple le coup droit lifté) ou des package (les coups de fond de court) ou d’avoir un accès illimité au contenu pendant un an. Tous les paiements sont sécurisés grâce notre partenaire.</p>
                </div>
            </div>        
            <div class="clearfix"></div>
        </div>	
        
        <div class="row middle_contents">
            <div class="col-md-12 col-sm-12 col-xs-12">        
                <div class="mid_contentdiv">
                    <h3>A quoi correspondent les points cumulés sur votre internet ?</h3>	
                    <p>Les points cumulés sur notre site internet vous aident à vérifier votre assiduité et votre participation active dans le temps. En effet plus vous jouez et plus vous engranger des points . Ces points évoluent durant l’année et vous permettent d’accéder à des réductions de nos partenaires ou encore à des lots/récompenses ou des gratuités.</p>
                </div>
            </div>        
            <div class="clearfix"></div>
        </div>	
        
        <div class="row middle_contents">
            <div class="col-md-12 col-sm-12 col-xs-12">        
                <div class="mid_contentdiv">
                    <h3>Comment acheter du matériel de tennis (balle de tennis , raquette de tennis, balle de tennis) ?</h3>	
                    <p>Il est possible via notre boutique partenaire en ligne d’acheter de quoi vous équiper pour jouer au tennis. Une sélection de différents articles vous permettra de trouver votre bonheur, de commander en ligne et d’être ensuite livré dans les meilleurs délais.
                        Une sélection de textiles est disponible pour les hommes et pour les femmes ainsi que des accessoires utiles pour les pratiquants plus aguéris (surgrips, anti vibrateurs , cordages etc…)</p>
             
                    <p><strong><a class="content_link" href="">Nos conseils pour acheter du matériel de tennis</a></strong></p>
     
                </div>
            </div>        
            <div class="clearfix"></div>
        </div>	
        
        <div class="row middle_contents">
            <div class="col-md-12 col-sm-12 col-xs-12">        
                <div class="mid_contentdiv">
                    <h3>Quels sont les services gratuits sur votre site web ?</h3>	
                    <p>Nous proposons sur le site <a class="content_link" href="">http://www.ohmytennis.com</a> differnets services tels que :  la recherche de partenaires pour jouer ou faire des matchs, , le guide pratique qui recense les terrains,  le tutoriel pour participer à son premier tournoi officiel , le dépôt d’annonces , la participation au forum , les conseils et les informations sur la pratique au quotidien, le suivi de l’actualité de l’ATP et WTA, le suivi du livescore en direct ,</p>
                </div>
            </div>        
            <div class="clearfix"></div>
        </div>	
        
        <div class="row middle_contents">
            <div class="col-md-12 col-sm-12 col-xs-12">        
                <div class="mid_contentdiv">
                    <h3>Puis je reserver un terrain de tennis sur votre site internet ?</h3>	
                    <p>Il est impossible de réserver un terrain de tennis via notre site , vous devez vous même vous en occuper si vous jouer avec un ami ou votre professeur s’en chargera pour votre prochain cours. Dans tous les cas vérifiez bien les conditions de réservations si c’est votre première fois (tarifs, annulation) pour éviter les mauvaises surprises.</p>
                </div>
            </div>        
            <div class="clearfix"></div>
        </div>	
        
        <div class="row middle_contents">
            <div class="col-md-12 col-sm-12 col-xs-12">        
                <div class="mid_contentdiv">
                    <h3>Je commence à jouer tennis , que dois je faire et où m’adresser ?</h3>	
                    <p>Il est tout d’abord impératif d ‘être équipé pour jouer au tennis : pour cela le minimum requis est une raquette de tennis , des chaussures de tennis (semelle plate) et un short ou un jogging selon la saison où vous jouer. Il est très difficile d’apprendre par soi-même le tennis car cela nécessite une approche technique lié à l’utilisation d’un outils qu’est votre raquette. En effet le maniement de cette raquette et la frappe de balle demande une coordination dans le temps (la balle bouge plus ou moins vite) qui n’est pas facile à appréhender au premier abord. Nous vous conseillons de prendre au moins quelques cours (un carnet de 10 cours est l’idéal) pour des acquérir des notions  indispensables pour renvoyer la balle et s’amuser un minimum , sinon vous allez constamment courir pour ramasser les balles !</p>
                </div>
            </div>        
            <div class="clearfix"></div>
        </div>	
        
        <div class="row middle_contents">
            <div class="col-md-12 col-sm-12 col-xs-12">        
                <div class="mid_contentdiv">
                    <h3>Les tournois de tennis officiels , ca marche comment ? C’est pour les forts ?</h3>	
                    <p>Pour participer à un tournoi il faut être muni d’une licence et d’un certificat médical. Une fois ces deux éléments obtenus,  vous pourrez trouver votre tournoi via un moteur de recherche de la fédération française de tennis qui organise ces événements. Une lettre d’engagement munie d’un chèque adressée au juge arbitre (responsable)vous engagera définitivement. Les tournois de tennis concernent la plupart du temps tous types de niveaux (on commence par les non classés) et sont progressifs (vous rencontrez des gens de plus en plus fort petit à petit).</p>
                </div>
            </div>        
            <div class="clearfix"></div>
        </div>	



    </div>
</div>
   
    <app-footer></app-footer>
