<app-header></app-header>
<app-top-menu></app-top-menu>
<div class="innerbanner" style="background-color:#000">
  <img
    src="../assets/images/cours-particuliers-de-tennis.jpg"
    style="width:100%;opacity:0.8"
    alt="Los Angeles"
  />
  <div class="inner_carousel">
    <h3>Termes et conditions</h3>
  </div>
</div>
<!-- Banner ends -->

<!-- Inner Search area starts -->
<!-- <div class="inner_searcharea">
  <div class="banner_container">
    <h3>Réservez un cours avec un coach</h3>
    <div class="row">
      <div class="col-xs-12 col-sm-4 col-lg-4">
        <div class="form-group">
          <div class="addon-lg">
            <input
              class="form-control"
              id=""
              maxlength="6"
              placeholder="Code Postal"
              [(ngModel)]="Ville"
              type="text"
            />
            <label><img src="./assets/images/ville_icon.png"/></label>
          </div>
        </div>
      </div>
      <div class="col-xs-12 col-sm-4 col-lg-4">
        <div class="form-group">
          <div class="addon-lg">
            <input
              type="text"
              style="text-align:left!important;"
              [min]="min"
              class="form-control"
              id=""
              placeholder="Date"
              [(ngModel)]="Date"
              [owlDateTime]="dt1"
              [owlDateTimeTrigger]="dt1"
            />
            <owl-date-time #dt1 [pickerType]="'calendar'"></owl-date-time>
            <label><img src="./assets/images/date_icon.png" /> </label>
          </div>
        </div>
      </div>
      <div class="col-xs-12 col-sm-4 col-lg-4 text-left">
        <button (click)="handleClick($event)" class="btn black_btn">
          Rechercher
        </button>
      </div>
    </div>
  </div>
</div> -->

<div class="section1 des_concept_list haspadd">
  <div class="container">
    <div class="row">
      <div class="col-md-12 col-sm-12 col-xs-12">
        <div class="page_title_div">
          <h1 class="page_title">
            Termes et conditions
          </h1>
          <img src="../assets/images/title_border.png" alt="title_border" />
        </div>
      </div>
      <div class="clearfix"></div>
    </div>

    <!-- <div class="row middle_contents">
      <div class="col-md-12 col-sm-12 col-xs-12">
        <div class="mid_contentdiv">
          <h1 class="page_title">DÉFINITIONS OHMYTENNIS</h1>
        </div>
      </div>

      <div class="clearfix"></div>
    </div> -->
  </div>
</div>

<app-footer></app-footer>
