<div class="content cours_individualsec">
    <div class="container-fluid">
        <div class="~row">
            <div class="form_devarea col-md-12" style="max-width: 100%;">
                <div class="">
                    <div class="tab-content">
                        <div class="form_section" id="availabilityDiv" style="max-width: 100%;">
                            <div *ngIf="alertMsg.show" class="alert {{alertMsg.type}} alert-dismissible text-center">
                                <button type="button" (click)="_closeAlertMessage($event)"
                                    class="close"><span>&times;</span></button> {{alertMsg.msg}}
                            </div> 
                            <form autocomplete="off" [formGroup]="changePasswordForm" autocomplete="off" (ngSubmit)="changePassword(changePasswordForm)">
                                <div class="col-xs-12 col-md-8">
                                    <div class="form-group bmd-form-group">
                                        <div class="row">
                                            <div class="col-xs-12 col-md-4">
                                                     <label>Mot de passe actuel
                                                    <span class="red">*</span></label>
                                            </div>

                                            <div class="col-xs-12 col-md-8">
                                                <input type="password" minlength="6" formControlName="password" name="password" class="form-control fields"
                                                  placeholder="Mot de passe" [ngClass]="{ 'alert_field': cForm.password.errors && (cForm.password.touched || cForm.password.dirty)}">
                                                <div *ngIf="cForm.password.errors && (cForm.password.touched || cForm.password.dirty)" class="invalid-feedback">
                                                  <div class="alert_text">Les mots de passe doivent comporter au moins 8 caractères avec majuscules, chiffres
                                                    et caractères spéciaux.</div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="form-group bmd-form-group">
                                        <div class="row">
                                            <div class="col-xs-12 col-md-4">
                                                <label>Nouveau mot de passe <span class="red">*</span></label>
                                            </div>
                                            <!-- <div class="col-xs-12 col-md-8">
                                                <input type="text" [(ngModel)]="res.lastName" #lastName="ngModel"
                                                    [ngClass]="{'alert_field': (lastName.errors && (lastName.touched || lastName.dirty))}"
                                                    name="newPassword" class="form-control" placeholder="Nouveau mot de passe" readonly
                                                    required>
                                            </div> -->

                                            <div class="col-xs-12 col-md-8">
                                                <input type="password" minlength="6" formControlName="newPassword" name="newPassword" class="form-control fields"
                                                  placeholder="Mot de passe" [ngClass]="{ 'alert_field': cForm.newPassword.errors && (cForm.newPassword.touched || cForm.newPassword.dirty)}">
                                                <div *ngIf="cForm.newPassword.errors && (cForm.newPassword.touched || cForm.newPassword.dirty)" class="invalid-feedback">
                                                  <div class="alert_text">Les mots de passe doivent comporter au moins 8 caractères avec majuscules, chiffres
                                                    et caractères spéciaux.</div>
                                                </div>
                                            </div>

                                        </div>
                                    </div>
                                    <div class="form-group bmd-form-group">
                                        <div class="row">
                                            <div class="col-xs-12 col-md-4">
                                                <label>
                                                    Confirmez le mot de passe <span class="red">*</span></label>
                                            </div>
                                            <div class="col-xs-12 col-md-8">
                                                <input type="password" minlength="6" formControlName="confirmPassword" name="confirmPassword" class="form-control fields"
                                                  placeholder="Mot de passe" [ngClass]="{ 'alert_field': cForm.confirmPassword.errors && (cForm.confirmPassword.touched || cForm.confirmPassword.dirty)}">
                                                <div *ngIf="cForm.confirmPassword.errors && (cForm.confirmPassword.touched || cForm.confirmPassword.dirty)" class="invalid-feedback">
                                                  <div class="alert_text">Les mots de passe doivent comporter au moins 8 caractères avec majuscules, chiffres
                                                    et caractères spéciaux.</div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-md-12 text-center">
                                        <button type="submit"
                                            id="submit"  class="btn btn-primary"
                                            style="margin-left: 99px;">
                                            Changer le mot de passe</button>

                                            <!-- <button [disabled]="!changePasswordForm.valid" type="submit" value="S'inscrire"
                                            class="btn btn-default login_btn_form btn-block" style="text-transform:uppercase"></button>  -->


                                        <a (click)="makeEnable()" style="margin-left:20px; color: #ffffff;"
                                            class="btn btn-info"><i class="fa fa-edit"></i> Annuler</a>
                                    </div>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>