.example-viewport {
  height: 680px;
  width: 100%;
  margin-left: 40px;
  border: 0px solid #ffffff;
  display: flex;
  scrollbar-color: #ffffff;
  scrollbar-face-color: white;
}

::-webkit-scrollbar-thumb {
  background-color: #ffffff !important;
}
