<div class="content">
  <div class="container-fluid">
    <div class="row">
      <div class="col-md-12">
        <div class="form-group bmd-form-group">
          <div class="card card-profile">
            <div class="pull-right">
              <button style="cursor: pointer;" (click)="goBack()">
                Back
              </button>
            </div>
            <div class="card-avatar" style="margin:9px auto 0">
              <a href="#pablo">
                <img class="img" [src]="res.Coach_Image" />
              </a>
            </div>
            <div class="card-body">
              <h4 class="card-title">
                {{ this.res.Coach_Fname }} {{ this.res.Coach_Lname }}
              </h4>
              <!-- <div class="upload-btn-wrapper">
                <h4 class="card-title">Bank Details</h4>
              </div> -->
              <div class="box-body">
                <table class="table table-bordered table-sm row-border">
                  <thead>
                    <tr>
                      <th>Bank Name</th>
                      <th>Branch Code</th>
                      <th>Bank Account Number</th>
                      <th>Bank City</th>
                      <th></th>
                    </tr>
                  </thead>
                  <tbody>
                    <tr>
                      <td>{{ this.res.Coach_Bank_Name }}</td>
                      <td>
                        {{ this.res.Branch_Code }}
                      </td>
                      <td>
                        {{ this.res.Coach_Bank_ACCNum }}
                      </td>
                      <td>
                        {{ this.res.Coach_Bank_City }}
                      </td>
                      <td>
                        <button
                          class="btn btn-block btn-success"
                          (click)="connect()"
                        >
                          Connect
                        </button>
                      </td>
                    </tr>
                  </tbody>
                </table>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="clearfix"></div>
      <div class="col-md-12">
        <div class="form_devarea">
          <h4>PAYMENTS</h4>
          <div class="box-body">
            <table
              class="coach_listable table table-striped table-bordered table-sm row-border hover"
              id="datatable"
            >
              <thead>
                <tr>
                  <th>Sl.no</th>
                  <th>Service Name</th>
                  <th>Action</th>
                </tr>
              </thead>
              <tbody>
                <tr
                  class="btn_blocksec"
                  *ngFor="let group of datanew; let i = index"
                >
                  <td>{{ i + 1 }}</td>
                  <td>
                    {{ group.service }}
                  </td>
                  <td>
                    <button
                      id="approveBtn"
                      class="btn btn-block btn-success"
                      (click)="
                        paidDetails(group.id, group.coachID, group.shortName)
                      "
                    >
                      View
                    </button>
                  </td>
                </tr>
              </tbody>
            </table>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
