<app-header></app-header>
<app-top-menu></app-top-menu>
<!-- Banner starts -->
<div class="innerbanner">
  <img src="./assets/images/club-house-tennis_bg.jpg" alt="Los Angeles" />
  <div class="inner_carousel">
    <h3>Oh My Club House</h3>
  </div>
</div>
<!-- Banner ends -->

<!-- Inner Search area starts -->
<div class="inner_searcharea">
  <div class="banner_container">
    <h3>Réservez un cours avec un coach</h3>
    <div class="row">
      <div class="col-xs-12 col-sm-4 col-lg-4">
        <div class="form-group">
          <div class="addon-lg">
            <input
              class="form-control"
              id=""
              maxlength="6"
              placeholder="Code Postal"
              [(ngModel)]="Ville"
              type="text"
            />
            <label><img src="./assets/images/ville_icon.png"/></label>
          </div>
        </div>
      </div>
      <div class="col-xs-12 col-sm-4 col-lg-4">
        <div class="form-group">
          <div class="addon-lg">
            <input
              type="text"
              style="text-align:left!important;"
              [min]="min"
              class="form-control"
              id=""
              placeholder="Date"
              [(ngModel)]="Date"
              [owlDateTime]="dt1"
              [owlDateTimeTrigger]="dt1"
            />
            <owl-date-time #dt1 [pickerType]="'calendar'"></owl-date-time>
            <label><img src="./assets/images/date_icon.png" /> </label>
          </div>
        </div>
      </div>
      <div class="col-xs-12 col-sm-4 col-lg-4 text-left">
        <button (click)="handleClick($event)" class="btn black_btn">
          Rechercher
        </button>
      </div>
    </div>
  </div>
</div>
<!-- Inner Search area ends -->

<!-- section1 starts -->
<div class="section1 des_titre_list haspadd">
  <div class="container">
    <div class="row">
      <div class="col-md-12 col-sm-12 col-xs-12">
        <div class="page_title_div">
          <h1 class="page_title">Les jeux concours tennis</h1>
          <img src="./assets/images/title_border.png" alt="title_border" />
        </div>
      </div>
      <div class="clearfix"></div>
    </div>

    <div class="row split_marginbot middle_contents">
      <div class="col-lg-6 col-sm-12 col-xs-12">
        <div class="mid_contentdiv">
          <h5>Comment participer au jeu concours sur Ohmytennis ?</h5>
          <p>
            Il est nécessaire de s’inscrire au préalable via le formulaire en
            remplissant les champs du formulaire du jeu concours. Nous vous
            rappelons que toute inscription est unique pendant la durée du jeu.
            Vous devez communiquer votre nom, prénom, adresse email et acceptez
            le règlement du jeu pour y participer. Si vous êtes déjà abonnés à
            notre site, il ne vous reste plus qu’à participer à notre jeu
            concours tennis en vous y inscrivant.
          </p>
        </div>
      </div>
      <div class="col-lg-6 col-sm-12 col-xs-12">
        <img
          src="./assets/images/quiz-tennis.jpg"
          class="center-block"
          alt="titre_img1"
        />
      </div>
    </div>

    <div class="row split_marginbot middle_contents">
      <div class="col-lg-6 col-sm-12 col-xs-12">
        <img
          src="./assets/images/quizz-test-tennis.jpg"
          class="center-block"
          alt="titre_img1"
        />
      </div>
      <div class="col-lg-6 col-sm-12 col-xs-12">
        <div class="mid_contentdiv">
          <h5>Quelle sera la nature de ces jeux concours tennis gratuits?</h5>
          <p>
            Les jeux concours auront des thèmes bien précis qui concernent
            toujours le tennis. Ces thèmes pourront ou non être en relation avec
            des événements qui se déroulent dans l’année. Ils peuvent vous
            impliquer (image de vous) ou faire appel à votres sens de
            l’imagination (création) si il s’agit d’objets par exemple par le
            biais de photo. Il peut s’agir aussi de logo, de slogan. Dans tous
            les cas, nous vous demanderons de céder vos droit d’image afin que
            vous puissiez devenir contributeurs de notre site internet.
          </p>
        </div>
      </div>
    </div>

    <div class="row split_marginbot middle_contents">
      <div class="col-lg-6 col-sm-12 col-xs-12">
        <div class="mid_contentdiv">
          <h5>A qui s’adressent les jeux concours sur ohmytennis ?</h5>
          <p>
            Les jeux concours tennis concernent tout le monde : vous avez la
            possibilité de jouer même si vous n’êtes pas inscrits sur notre site
            internet cependant il est obligatoire de remplir le formulaire. Les
            jeux concernant les non abonnés se déroulent sur des périodes
            limitées dans le temps au cours de l’année.De même les membres
            inscrits sur les médias sociaux (facebook, twitter , instagram
            etc…)mais non inscrits sur le site auront également la possibilité
            de jouer à des jeux sur des périodes bien précises. Les abonnés de
            notre site internet pourront jouer quand à eux tout le temps.
          </p>
        </div>
      </div>
      <div class="col-lg-6 col-sm-12 col-xs-12">
        <img
          src="./assets/images/jeu-tennis.jpg"
          class="center-block"
          alt="titre_img1"
        />
      </div>
    </div>

    <div class="row split_marginbot middle_contents">
      <div class="col-lg-6 col-sm-12 col-xs-12">
        <img
          src="./assets/images/quizz-tennis2.jpg"
          class="center-block"
          alt="titre_img1"
        />
      </div>
      <div class="col-lg-6 col-sm-12 col-xs-12">
        <div class="mid_contentdiv">
          <h5>Qu’est-il possible de gagner lors des jeux concours tennis ?</h5>
          <p>
            Il est possible de gagner des lots matériels de tennis (partenaires
            équipements) ou des réductions grâce à nos partenaires du site. Vous
            avez également la possibilité d’obtenir des services gratuits sur
            notre internet ou encore des points bonus . Les trois premières
            places seront tirées au sort grâce à une main innocente. La valeur
            des gains qui diminue entre le vainqueur et la dernière place
            récompensée (troisième).
          </p>
          <p>
            <strong
              ><a class="content_link" href=""
                >Voir réglement jeux concours tennis gratuit (avec achat et sans
                achat)</a
              ></strong
            >
          </p>
          <p>
            <strong><a class="content_link" href="">Voir dotation</a></strong>
          </p>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-lg-12 col-sm-12 col-xs-12 text-center">
        <a href="#" class="btn btn-primary des_coach_abt_btn"
          >DÉMARRER LE QUIZ</a
        >
      </div>
      <div class="clearfix"></div>
    </div>
  </div>
</div>
<!-- section1 ends -->

<!-- section2 starts -->
<div class="section2 des_titre_backtext">
  <div class="container">
    <div class="row">
      <div class="col-md-12 col-sm-12 col-xs-12">
        <div class="des_back_content">
          <h4>
            Nous proposons aux passionnés de tennis d'avoir un univers
            spécialement créé pour eux.
          </h4>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- section2 ends -->

<app-footer></app-footer>
