<app-header></app-header>
<app-top-menu></app-top-menu>
<div class="innsec newcoachprofile">
  <div class="innerbanner">
    <img src="../assets/images/banner.jpeg" alt="banner" class="banner1" />
    <div class="inner_carousel">
      <img src="../assets/images/header1.png" alt="header1" />
      <h3>Moon Walker</h3>
      <a href="#"> <i class="fa fa-facebook-f"></i></a>
      <a href="#"><i class="fa fa-twitter"></i></a>
      <a href="#"><i class="fa fa-instagram"></i></a>
      <h5>Prix &euro;200- <span class="prix"> &euro;220</span></h5>

      <div class="sel">
        <img src="../assets/images/message.png" alt="message" />
        <a href="#">moonwalker@gmail.com</a>
        <img src="../assets/images/phone.png" alt="message" />
        <a href="#">+1-202-555-0183</a>
      </div>
    </div>
  </div>
  <!-- Banner ends -->
  <div class="coach_profilesection">
    <div class="container">
      <div class="sect">
        <h3><span class="sect-1"></span></h3>

        <div class="section1">
          <div class="col-md-12 col-sm-12 col-12">
            <div class="event">
              <h3>SERVICE PROVIDED</h3>
            </div>
          </div>
        </div>
        <div class="training_section1">
          <div class="row">
            <div class="col-md-12 col-sm-12 col-xs-12">
              <div class="service-1">
                <div class="row">
                  <div class="col-md-4 col-sm-4 col-xs-12">
                    <a href="#" class="section2_btn">COURSE INDIVIDUAL</a>
                  </div>
                  <div class="col-md-4 col-sm-4 col-xs-12">
                    <a href="#" class="section2_btn">COLLECTIVE ON-DEMAND</a>
                  </div>
                  <div class="col-md-4 col-sm-4 col-xs-12">
                    <a href="#" class="section2_btn">COLLECTIVE CLUB</a>
                  </div>
                  <div class="col-md-4 col-sm-4 col-xs-12">
                    <a href="#" class="section2_btn">STAGE</a>
                  </div>
                  <div class="col-md-4 col-sm-4 col-xs-12">
                    <a href="#" class="section2_btn">TEAM BUILDING</a>
                  </div>
                  <div class="col-md-4 col-sm-4 col-xs-12">
                    <a href="#" class="section2_btn">ANIMATION</a>
                  </div>
                  <div class="col-md-4 col-sm-4 col-xs-12">
                    <a href="#" class="section2_btn">TOURNAMENT</a>
                  </div>
                </div>
              </div>
            </div>
          </div>

          <div class="section2">
            <h3>MY EVENTS</h3>
            <div class="container">
              <div class="row">
                <div class="col-md-12 col-sm-12 col-xs-12">
                  <div class="set">
                    <div class="col-md-2 col-sm-3 col-xs-12">
                      <img src="../assets/images/header.png" alt="header" />
                    </div>
                    <div class="col-md-7 col-sm-5 col-xs-12 ml-2">
                      <h5>GRAND STAGE EVENTS JAN 2020</h5>
                      <p class="grand-stage">
                        Lorem ipsum dolor sit amet, consectetur adipiscing elit,
                        sed do eiusmod tempor incididunt ut labore et dolore
                        magna
                      </p>
                    </div>
                    <div class="col-md-3 col-sm-4 col-xs-12">
                      <div class="calender">
                        <h2>23 JAN</h2>
                      </div>
                      <a href="#" class="section1_btn">Réserve maintenant</a>
                    </div>
                    <div class="clearfix"></div>
                  </div>
                </div>
                <div class="clearfix"></div>
              </div>

              <div class="row">
                <div class="col-md-12 col-sm-12 col-xs-12">
                  <div class="set">
                    <div class="col-md-2 col-sm-3 col-xs-12">
                      <img src="../assets/images/header.png" alt="header" />
                    </div>
                    <div class="col-md-7 col-sm-5 col-xs-12 ml-2">
                      <h5>GRAND STAGE EVENTS JAN 2020</h5>
                      <p class="grand-stage">
                        Lorem ipsum dolor sit amet, consectetur adipiscing elit,
                        sed do eiusmod tempor incididunt ut labore et dolore
                        magna
                      </p>
                    </div>
                    <div class="col-md-3 col-sm-4 col-xs-12">
                      <div class="calender">
                        <h2>3 FEB</h2>
                      </div>
                      <a href="#" class="section1_btn">Réserve maintenant</a>
                    </div>
                    <div class="clearfix"></div>
                  </div>
                </div>
                <div class="clearfix"></div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<app-footer></app-footer>
