<app-header></app-header>
<app-top-menu></app-top-menu>
<!-- Banner starts -->
<div class="innerbanner">
  <img
    src="./assets/images/cours-particuliers-de-tennis.jpg"
    alt="Los Angeles"
  />
  <div class="inner_carousel">
    <h3>Oh My Concept</h3>
  </div>
</div>
<!-- Banner ends -->

<!-- Inner Search area starts -->
<div class="inner_searcharea">
  <div class="banner_container">
    <h3>Réservez un cours avec un coach</h3>
    <div class="row">
      <div class="col-xs-12 col-sm-4 col-lg-4">
        <div class="form-group">
          <div class="addon-lg">
            <input
              class="form-control"
              id=""
              maxlength="6"
              placeholder="Code Postal"
              [(ngModel)]="Ville"
              type="text"
            />
            <label><img src="./assets/images/ville_icon.png"/></label>
          </div>
        </div>
      </div>
      <div class="col-xs-12 col-sm-4 col-lg-4">
        <div class="form-group">
          <div class="addon-lg">
            <input
              type="text"
              style="text-align:left!important;"
              [min]="min"
              class="form-control"
              id=""
              placeholder="Date"
              [(ngModel)]="Date"
              [owlDateTime]="dt1"
              [owlDateTimeTrigger]="dt1"
            />
            <owl-date-time #dt1 [pickerType]="'calendar'"></owl-date-time>
            <label><img src="./assets/images/date_icon.png" /> </label>
          </div>
        </div>
      </div>
      <div class="col-xs-12 col-sm-4 col-lg-4 text-left">
        <button (click)="handleClick($event)" class="btn black_btn">
          Rechercher
        </button>
      </div>
    </div>
  </div>
</div>
<!-- Inner Search area ends -->

<!-- section1 starts -->
<div class="section1 content_secs des_titre_list haspadd">
  <div class="container">
    <div class="row">
      <div class="col-md-12 col-sm-12 col-xs-12">
        <div class="page_title_div">
          <h1 class="page_title">Présentation générale de ohmytennis</h1>
          <img src="./assets/images/title_border.png" alt="title_border" />
        </div>
      </div>
      <div class="clearfix"></div>
    </div>

    <div class="row split_marginbot">
      <div class="col-lg-6 col-sm-12 col-xs-12">
        <p>
          Ohmytennis est une plateforme de mise en relation entre les
          professeurs du tennis et les pratiquants. ohmytennis s’articule autour
          de plusieurs thèmes liés à l’enseignement et à la pratique des joueurs
          et joueuses de tennis.
        </p>
        <h3><strong>Les professeurs de ohmytennis:</strong></h3>
        <p>
          <span>Cours particuliers:</span> Prestations annuelles ou ponctuelles
          avec un professeur de tennis pour une personne.
        </p>
        <p>
          <span>Cours collectifs:</span> Prestations annuelles ou ponctuelles
          avec un professeur de tennis pour un groupe.
        </p>
      </div>
      <div class="col-lg-6 col-sm-12 col-xs-12">
        <img
          src="./assets/images/concept_present1.jpg"
          class="center-block"
          alt="titre_img1"
        />
      </div>
      <div class="clearfix"></div>
    </div>

    <div class="row split_marginbot">
      <div class="col-lg-6 col-sm-12 col-xs-12">
        <img
          src="./assets/images/concept_present2.jpg"
          class="center-block"
          alt="titre_img1"
        />
      </div>
      <div class="col-lg-6 col-sm-12 col-xs-12">
        <h3><strong>Stages et team buildings ohmytennis :</strong></h3>
        <p>
          <span>Stage:</span> Prestations sur une courte période avec un
          professeur de tennis pour plusieurs personnes (une ou deux semaines,
          un mois...).
        </p>
        <p>
          <span>Team building:</span> Prestations sur une après-midi ou une
          journée avec un professeur de tennis pour une entreprise afin de
          renforcer les liens d'équipe.
        </p>
      </div>
      <div class="clearfix"></div>
    </div>

    <div class="row split_marginbot">
      <div class="col-lg-6 col-sm-12 col-xs-12">
        <h3><strong>Qu’est ce que Ohmytennis.com ?</strong></h3>
        <p>
          <span>Pratiquer:</span>Augmenter votre temps de jeu (entraînements,
          tournois, sparring).
        </p>
        <p>
          <span>Apprendre:</span>Améliorer votre jeu (technique, tactique,
          physique, mental).
        </p>
        <p>
          <span>Comprendre:</span>Développer votre culture tennistique (lexique,
          histoire, règles).
        </p>
        <p>
          <span>Circuit pro:</span>Infos ATP et WTA (actualités, classements,
          pronostics, billetteries, livescore).
        </p>
      </div>
      <div class="col-lg-6 col-sm-12 col-xs-12">
        <img
          src="./assets/images/concept_present3.jpg"
          class="center-block"
          alt="titre_img1"
        />
      </div>
      <div class="clearfix"></div>
    </div>

    <div class="row split_marginbot">
      <div class="col-lg-6 col-sm-12 col-xs-12">
        <img
          src="./assets/images/jouer-au-tennis.jpg"
          class="center-block"
          alt="titre_img1"
        />
      </div>
      <div class="col-lg-6 col-sm-12 col-xs-12">
        <h3><strong>Les défis Ohmyclubhouse:</strong></h3>
        <p>
          <span>Defi and me:</span> Accumulez des points en étant actif sur
          notre site internet et vous gagnerez des réductions et des cadeaux.
          (mis en vente de votre matériel, progression avec votre professeur,
          suivi des e-learning , contributions et avis sur le site, jeux
          concours, quizz...)
        </p>
        <p>
          <span>Challenge me:</span> Interagissez avec les professeurs et les
          pratiquants en recherchant des sparring , en postant des petites
          annonces ou en parrainant de nouveaux utilisateurs.
        </p>
      </div>
      <div class="clearfix"></div>
    </div>

    <div class="row">
      <div class="col-md-12 col-sm-12 col-xs-12">
        <div class="page_title_div">
          <h2
            style="padding-bottom:10px;color: #080808; font-weight: bold; font-size:23px;"
          >
            Informations réglementaires liées à la pratique du tennis
          </h2>
        </div>
      </div>
      <div class="clearfix"></div>
    </div>

    <div class="row split_marginbot">
      <div class="col-lg-6 col-sm-12 col-xs-12">
        <h3>La discipline au tennis</h3>
        <p>
          La pratique du tennis nécessite de suivre différentes règles. Lorsque
          vous arrivez sur le lieux de vote cours, vous devez vous présenter à
          l'accueil afin de notifier votre présence et payer le cas échéant
          votre location du terrain de tennis . La partie de tennis doit se
          dérouler sans bruit excessif, dans le respect de la tranquillité des
          courts voisins. Le terrain de tennis doit être libéré à l’heure
          (sonnerie de la cloche par exemple), avec le filet passé pour les
          joueurs suivants si vous êtes sur un terrain en terre battue. Toute
          activité, autre que le tennis, est interdite sur les courts, sauf
          activité organisée en accord avec le Comité Directeur ou dans le cadre
          de l’Enseignement. Il est interdit de fumer sur les courts ou à
          l’intérieur du club house. La présence d’animaux est interdite dans
          l’enceinte du club.
        </p>
      </div>
      <div class="col-lg-6 col-sm-12 col-xs-12">
        <img
          src="./assets/images/concept1.jpg"
          class="center-block"
          alt="titre_img1"
        />
      </div>
    </div>

    <div class="row split_marginbot">
      <div class="col-lg-6 col-sm-12 col-xs-12">
        <img
          src="./assets/images/professeur-de-tennis.jpg"
          class="center-block"
          alt="titre_img1"
        />
      </div>
      <div class="col-lg-6 col-sm-12 col-xs-12">
        <h3>La tenue et le matériel de tennis</h3>
        <p>
          Une tenue correcte et décente est de rigueur, seules les tenues de
          sports usuellement portées pour le tennis sont admises sur les courts
          de tennis. Il est interdit de jouer torse nu ou en short de bain. Sur
          les terrains de tennis, l'utilisation de chaussures de sport non
          marquantes et adaptées à la pratique du tennis ainsi qu’à la nature
          des terrains est obligatoire. Les chaussures de ville ou de sport
          pouvant endommager les surfaces sont strictement interdites. En dehors
          des courts, une tenue correcte est exigée. Vous devez vous munir de
          votre raquette et de vos balles de tennis (certains lieux vous offre
          la possibilité de louer votre matériel).
        </p>
      </div>
    </div>

    <div class="row split_marginbot">
      <div class="col-lg-6 col-sm-12 col-xs-12">
        <h3>Assurances et responsabilités</h3>
        <ul>
          <li>
            Les joueurs de passage ou invités, non licenciés ou inscrits dans le
            club, jouent sous leur propre responsabilité (responsabilité
            civile).
          </li>
          <li>
            Un certificat médical de non contre indication à la pratique
            sportive auprès de votre médecin généraliste est conseillé (à
            renouveler une fois par an).
          </li>
        </ul>
      </div>
      <div class="col-lg-6 col-sm-12 col-xs-12">
        <img
          src="./assets/images/prof-tennis.jpg"
          class="center-block"
          alt="titre_img1"
        />
      </div>
    </div>
  </div>
</div>
<!-- section1 ends -->

<!-- section2 starts -->
<div class="section2 des_titre_backtext">
  <div class="container">
    <div class="row">
      <div class="col-md-12 col-sm-12 col-xs-12">
        <div class="des_back_content">
          <h4>
            Nous proposons aux passionnés de tennis d'avoir un univers
            spécialement créé pour eux.
          </h4>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- section2 ends -->
<div class="section3 des_concept_circletext haspadd">
  <div class="container">
    <div class="row">
      <div class="col-md-3 col-sm-6 col-xs-12 text-center">
        <div class="des_orange_circle">
          <img src="./assets/images/concept_icon1.png" alt="concept_icon1" />
        </div>
        <h5>
          <strong
            ><a
              href="javascript:;"
              routerLink="{{
                '/' + this._const('PATH.CONCEPTS.PRESENTATION.SELF')
              }}"
              >Présentation <br />Générale</a
            ></strong
          >
        </h5>
      </div>
      <div class="col-md-3 col-sm-6 col-xs-12 text-center">
        <div class="des_orange_circle">
          <img src="./assets/images/concept_icon2.png" alt="concept_icon1" />
        </div>
        <h5>
          <strong
            ><a
              href="javascript:;"
              routerLink="{{ '/' + this._const('PATH.CONCEPTS.CHARTE.SELF') }}"
              >La charte <br />de Qualité</a
            ></strong
          >
        </h5>
      </div>
      <div class="col-md-3 col-sm-6 col-xs-12 text-center">
        <div class="des_orange_circle">
          <img src="./assets/images/concept_icon3.png" alt="concept_icon1" />
        </div>
        <h5>
          <strong
            ><a
              href="javascript:;"
              routerLink="{{
                '/' + this._const('PATH.CONCEPTS.ENGAGEMENTS.SELF')
              }}"
              >Nos <br />Engagements</a
            ></strong
          >
        </h5>
      </div>
      <div class="col-md-3 col-sm-6 col-xs-12 text-center">
        <div class="des_orange_circle">
          <img src="./assets/images/concept_icon4.png" alt="concept_icon1" />
        </div>
        <h5>
          <strong
            ><a
              href="javascript:;"
              routerLink="{{
                '/' + this._const('PATH.CONCEPTS.INFORMATIONS.SELF')
              }}"
              >Informations<br />
              Réglementaires</a
            ></strong
          >
        </h5>
      </div>
    </div>
  </div>
</div>
<app-footer></app-footer>
